body {
	margin:0;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.hidden {
	display: none;
}

div.tooltip {
	color: #222;
	background-color: #fff;
	padding: .5em;
	border-radius: 2px;
	opacity: 0.9;
	position: absolute;
}

.background {
	fill: none;
	pointer-events: all;
}

.feature {
	fill:  #f8c471 ;
	cursor: pointer;
}

.feature.active {
	fill: #5dade2;
}

.mesh {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}

 iframe.noScrolling{
           width: 250px; /*or any other size*/
           height: 300px; /*or any other size*/
           overflow: hidden;
}